Actividades/Concesionario/clasificacionconcesionario.dtd

<!ELEMENT concesionario (gasolina*, hibrido*, electrico*)>
<!ELEMENT gasolina (coche*)>
<!ELEMENT hibrido (coche*)>
<!ELEMENT electrico (coche*)>
<!ELEMENT coche (cod_coche, marca, modelo, matricula, potencia, plazas, num_puertas)>
    <!ELEMENT cod_coche (#PCDATA)>
    <!ELEMENT marca (#PCDATA)>
    <!ELEMENT modelo (#PCDATA)>
    <!ELEMENT matricula (#PCDATA)>
    <!ELEMENT potencia (#PCDATA)>
    <!ELEMENT plazas (#PCDATA)>
    <!ELEMENT num_puertas (#PCDATA)>
