Actividades/mmmm/Clientes/clientesConCambio.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sede">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cod_sede">
					<xs:simpleType>
      					<xs:restriction base="xs:string">
         				<xs:length value="8"/>
						<xs:pattern value="[A-Z].*"/>
      					</xs:restriction>
   					</xs:simpleType> 
				</xs:element>
					<xs:element name="direccion" type="xs:string" />
					<xs:element name="empleado_alta" type="xs:string" />
					<xs:element name="fecha_alta" type="xs:date" />
					<xs:element name="cliente">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="num_viviendas" type="xs:unsignedByte" />
								<xs:element name="coste" type="xs:unsignedInt" />
								<xs:element name="resumen" type="xs:string" />
								<xs:element name="plazos" type="xs:date" />
								<xs:element name="descripcion_cliente">
									<xs:simpleType>
										<xs:restriction base = "xs:string">
						   				<xs:enumeration value = "Solvente"/>
						   					<xs:enumeration value = "Insolvente"/>
										</xs:restriction>
					 				</xs:simpleType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="cod_cliente">
								<xs:simpleType>
							<xs:restriction base = "xs:string">
							   <xs:pattern value = "[A-Za-z]{3}-([0-9]{3})"/>
							   <xs:length value="7"/>
							</xs:restriction>
						 </xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>