Actividades/mmmm/Clientes/clientes.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sede">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cod_sede">
					<xs:simpleType>
      					<xs:restriction base="xs:string">
         				<xs:length value="8"/>
						<xs:pattern value="[A-Z].*"/>
      					</xs:restriction>
   					</xs:simpleType>
				</xs:element>
				<xs:element name="direccion" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="empleado_alta" />
				<xs:element name="fecha_alta" type="xs:date" />
				<xs:element name="descripcion_cliente">
					<xs:simpleType>
						<xs:restriction base = "xs:string">
						   <xs:enumeration value = "Solvente"/>
						   <xs:enumeration value = "Insolvente"/>
						</xs:restriction>
					 </xs:simpleType>
				</xs:element>
				<xs:element name="cliente">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="num_viviendas" />
							<xs:element name="coste" />
							<xs:element name="resumen" />
							<xs:element name="plazos" />
						</xs:sequence>
						<xs:attribute name="cod_cliente" use="required">
						<xs:simpleType>
							<xs:restriction base = "xs:string">
							   <xs:pattern value = "[A-Za-z]{3}-([0-9]{3})"/>
							   <xs:length value="7"/>
							</xs:restriction>
						 </xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>